.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 860px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.modalPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.inputList {
    width: 465px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.input {
    padding: 8px;
    font-size: 14px;
    width: 150px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.fileLabel {
    display: block;
    margin-bottom: 5px;
}

.fileInput {
    display: block;
    margin-bottom: 10px;
}

.imgPreview {
    margin-top: 10px;
}

.imgPreview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.submitButton {
    width: 160px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}