.ProductList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.productItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 80px;
    border: none;
    border-radius: 5px;
    transition: border 0.3s ease;
    background-color: white;
}

.productItem.selected {
    border: 2px solid #939393;
}

.plyus {
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.productItem {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}